/Applications/MAMP/htdocs/GITHUB_MAIV/MAIV_LovelyOostende/smarty_compile
smarty_template/index.htm

smarty_compile/bf52392aafed985f31aabc7eb1f5c408605ab465.file.index.htm.php

smarty_compile/fe1860931442cbf44fa460920924767f31b40218.file.home.tpl.php
