*{
	margin: 0;
	padding: 0;
}

#Firstcontainer{
	background-color: #2a2b3c;
	color: #fbffd1;
	font-size: 26px; /* 26 pixels is 1em = 100% */

	height: 600px;
}

h1{
	font-size: 1.618em; /* 26 * 1.618 = 42.068 */
}

.maakDagTrip {
	width: 85%;
	height: 10px;
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}