*{
  margin: 0;
  padding: 0;
}

body{
    background-color: #2a2b3c;
    font-family: 'Maven Pro', sans-serif;
    color: #faffd1;
    -webkit-font-smoothing: antialiased;
}

.tussen{
  width: 100%;
  height: 200px;
  margin-top:5%;
}

#Firstcontainer , #maakVerrasContainer p{ 
  text-align: center;
}

p span{
  font-weight: 700;
}

.smallP{
  width: 80%;
  margin: auto;
  text-align: center;
}


/* ALGEMEEN */
#Firstcontainer , #maakVerrasContainer , #popUp{
  font-size: 16px; /* 26 pixels is 1em = 100% */
  height: 100%;
  font-weight: 400;
}

h1{
  font-size: 1.618em; /* 26 * 1.618 = 42.068 */
  margin: auto;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.btn{
  margin: auto;
  width: 85%;
  max-width: 400px;
  height: 30%;
  background-color: #ff5f48;
     -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
  text-transform: uppercase;
  font-size: 1.018em; /* 26 * 1.618 = 42.068 */
  text-align: center;
  padding: 20px 0.65px 20px 0.65px;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-top: 5%;
  margin-bottom: 5%;
}

.Minibutten{
  margin: auto;
  width: 85%;
  max-width: 350px;
  height: 18%;
  background-color: #ff5f48;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.018em; /* 26 * 1.618 = 42.068 */
  text-align: center;
  padding: 12px 0.65px 12px 0.65px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 25px;
  margin-bottom: 20px;
}

/*BUTTONS*/
.small{
  width: 60%;
}

.miniBtn{
  width: 45%;
  height: 2%;
  display: inline-block;

  background-color: #ff5f48;
     -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
  text-transform: uppercase;
  font-size: 1.018em; /* 26 * 1.618 = 42.068 */
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.1em;
  
  padding: 15px 0.65px 15px 0.65px;
  
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 3%;
}

/*END BUTTONS*/

/*START PAGE*/

.menuBar{
  height: 65px;
  width: 100%;
  display: inline-block;
}
    .info{
      width: 22%;
      height: 100%;
      border-right: #454656 1px solid;
      display: inline-block;
      font-family: "susaRegular";
      text-align: center;
      padding-top: 5px; 
      font-size: 1.2em;

    }

    .title{
      width: 53%;
      height: 100%;
      border-right: #454656 1px solid;
      display: inline-block;
      font-family: "susaRegular";
      text-align: center;
      padding-top: 5px; 
      font-size: 1.2em;
    }

    .dagtripIcon{
      height: 100%;
      width: 20%;
      display: inline-block;
      font-family: "susaRegular";
      float: right;
      background-image: url("../images/dagTripIconBig.png");
      background-repeat: no-repeat;
      background-size: 40px;
      background-position: center;
      text-align: center;
      line-height: 70px;
    }

    .dagtripIcon span{
      color: #ff5f48;
        font-family: 'Maven Pro', sans-serif;
      font-weight: 700;
    }

    .terugBtn{

      width: 19%;
      height: 50px;
      font-size: 0.76em;
      text-align: center;
      color: #fbffd1;
      line-height: 38px;
      padding-left: 3px;
      background-image: url("../images/backBtn.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 55px;
      font-weight: 400;
      padding-top: 10px;
      display: inline-block;
    }

.boottrip{
  width: 0%;
  height: 57px;
  background-image: url("../images/golfBlauw.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 14px; 
  display: inline-block;
  margin-left: 2%;
  transition: all 1s;
  -moz-transition: all 1s;
  /* Firefox 4 */
  -webkit-transition: all 1s;
  /* Safari and Chrome */
  -o-transition: all 1s;
}


/*BEGIN DAGTRIP*/
.dagtripItem{
  border-bottom: #454656 2px solid;
  width: 100%;
  height: 85px;
}
    .dagtripIcontje{
      width: 20%;
      height: 85px;
      float: right;
      display: inline-block;  
      line-height: 20px;
    }
    .dagtripTitel{
      width: 50%;
      height: 85px;
      display: inline-block;
      float: left;  
      margin-left: 3%;  
      line-height: 20px;
    }

    .dagtripColor{
      width: 2%;
      height: 85px;
      display: inline-block;
      float: right; 
      background-color: #ffd597;
    }


/*END DAGTRIP*/



.infoBar{
  width: 100%;
  background-color: #525263;
  display: inline-block;
  padding: 0%;
  margin: 0%;
  color: #faffd1;
  max-height: 160px;

}

    .infoBarI{
      height: 70px; 
      padding-left: 25%;
      margin-right: 5%;
      margin-top: 3%;
      background-image: url("../images/tutorial1Big.png");
      background-repeat: no-repeat;
      background-size: 60px;
      background-position: 10px;
    }

    .infoBarII{
      height: 80px;
      padding-left: 25%;
      margin-right: 5%;
      background-image: url("../images/tutorial2Big.png");
      background-repeat: no-repeat;
      background-size: 60px;
      background-position: 10px;
    }

    .infoBarIII{
      height: 75px;
      width: 20%;
      float: left;
      display: inline-block;
    }


    .infoBarIV{
      height: 75px;
      width: 58%;
      display: inline-block;
      float: left; 
      margin-left: 3%;  
    }
    .infoBarArrowTrip{
      height: 55px;
      width: 9%;
      position: absolute;
      margin-top: 5%;
      right:20px;

    }
    .infoBarArrow{
      
      width: 17%;
      float: right;
      margin-top: 5%;

    }

    .infoBarArrow img{
      position: center;
      margin: auto;
    }

    .infoBarV{
      width: 100%;
      margin-top: 4%;
      display: inline-block;
    }

    .infoBarV .Minibutten{
      width: 92%;
    }

.infoBar p,h2{
  margin: 2%;
}

 h2 {
    font-size: 1.2em;
}

.overzicht{
  height: 180px;
  border-top: #454656 1px solid;

}
  .kaartBtn{
    width: 49%;
    background-color: #454656;
    display: inline-block;
    height: 40px;
    float: left;
    border: #454656 1px solid;
    line-height: 40px;
    text-align: center;
  }

  .fotoBtn{
    width: 50%;
    display: inline-block;
    height: 40px;
    float: left;
    border-top: #454656 1px solid;
    border-bottom: #454656 1px solid;
    line-height: 40px;
    text-align: center;
  }

/*END MATS*/

  .infoBarItem{
    height: 55px;
  }
.buildings{
  width: 100%;
  height: 139px;
  display: inline-block;
  background-image: url("buildings.png");
}


.tiles li{
  width: 33.3%;
  height: 69px;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin: 0;
  float: left;
  margin-left: -2px;
  margin-top: -2px;
  border: 2px solid #525263;
  border-right-style: none;
}

.tiles li p{
  margin: 0;
  margin-top: 10px;
  line-height: 78px;
  text-align: center;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}


.dichtbij{
  background-image: url("../images/menuIcons/iconDichtbij.png");
  background-repeat: no-repeat;
  background-position:  center top;
  padding-top: -10px;
  background-size: 35px;
  color: #676772;
}

.zien{
  background-image: url("../images/menuIcons/iconZien.png");
  background-repeat: no-repeat;
  background-position:  center top;
  padding-top: -10px;
  background-size: 35px;
  color: #ffd597;
}

.proeven{
  background-image: url("../images/menuIcons/iconProef.png");
  background-repeat: no-repeat;
  background-position:  center top;
  background-size: 35px;
  color: #ff5f48;
}

.ruiken{
  background-image: url("../images/menuIcons/iconRuik.png");
  background-repeat: no-repeat;
  background-position:  center top;
  background-size: 35px;
  color: #57c2b2;
}

.voelen{
  background-image: url("../images/menuIcons/iconVoel.png");
  background-repeat: no-repeat;
  background-position:  center top;
  background-size: 35px;
  color: #e34a66;
}

.horen{
  background-image: url("../images/menuIcons/iconHoor.png");
  background-repeat: no-repeat;
  background-position:  center top;
  background-size: 35px;
  color: #a16bad;
}
/*END STARTPAGE*/

.tip {
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  /* Firefox 4 */
  -webkit-transition: all 0.4s;
  /* Safari and Chrome */
  -o-transition: all 0.4s;
  /* Opera */
 bottom: 0;
   position:fixed; 
  z-index:5;
  margin-top:66px;
  color:#363747;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.tip.einde{
  opacity:0;
  transition: all 1s;
  -moz-transition: all 1s;
  /* Firefox 4 */
  -webkit-transition: all 1s;
  /* Safari and Chrome */
  -o-transition: all 1s;
  /* Opera */
}
.tip.start{
  bottom: -200px;
transition: all 0.4s;
  -moz-transition: all 0.4s;
  /* Firefox 4 */
  -webkit-transition: all 0.4s;
  /* Safari and Chrome */
  -o-transition: all 0.4s;
  /* Opera */

}

.tip .roundedPopup{
  color:#363747;
  font-weight: bolder;
    background-color: #ff5f48;

}
.tip .bottomTip{
background-color: #ff5f48;
width: 80%;
font-size: 1.018em; /* 26 * 1.618 = 42.068 */
text-align: center;
padding-right: 10%;
padding-left: 10%;
 font-weight: bold;
display: inline-block;

}

/*POPUP*/
.roundedPopup{
  width: 94%;
  height: 2%;
  display: inline-block;
  background-color: #454656;
     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
  font-size: 1.018em; /* 26 * 1.618 = 42.068 */
  text-align: center;
  letter-spacing: 0.1em;  
  padding: 15px 0.65px 15px 0.65px;
  margin-left: 3%;
}

#popUp p{
  margin:5%; 
}

.roundedPopupMini{
  width: 40%;
  margin-left: 30%;
  padding: 0px 0px 0px 0px;
  margin-bottom: -10px;
  letter-spacing: 0.14em; 
  color: #ff5f48;
}

/*END POPUP*/


/*@FONT FACE*/
@font-face {
    font-family: 'susaRegular';
    src: url('@fontFace/SusaRegular/susa-regular-webfont.eot');
    src: url('@fontFace/SusaRegular/susa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('@fontFace/SusaRegular/susa-regular-webfont.woff') format('woff'),
         url('@fontFace/SusaRegular/susa-regular-webfont.ttf') format('truetype'),
         url('@fontFace/SusaRegular/susa-regular-webfont.svg#susaregularregular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: subpixel-antialiased;
}





/* line 11, ../sass/custom.scss */
#subContent {
  white-space: nowrap;
  overflow: scroll;
  overflow-y: hidden;
  height: 139px;

}

/* line 27, ../sass/custom.scss */
.venue.up{
  top:-30px;
  position: relative;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  /* Firefox 4 */
  -webkit-transition: all 0.4s;
  /* Safari and Chrome */
  -o-transition: all 0.4s;
  /* Opera */
}
.venue.verborgen {
  margin-top: 100px;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  /* Firefox 4 */
  -webkit-transition: all 0.4s;
  /* Safari and Chrome */
  -o-transition: all 0.4s;
  /* Opera */
}

/* line 36, ../sass/custom.scss */
.venue{
   top: 0px;
    transition: all 0.5s;
  -moz-transition: all 0.5s;
  /* Firefox 4 */
  -webkit-transition: all 0.5s;
  /* Safari and Chrome */
  -o-transition: all 0.5s;
  /* Opera */
  height:139px;
  display: inline-block;
  position: relative;

}

/*STYLE CSS */
#Firstcontainer{
  width: 100%;
  height: 100%;
}
#hartje{
  height:100px;
}
/*STYLE CSS */



}    

/*ANIMATE*/
        
/*END ANIMATE*/
